version: "3.9"

services:
  web:
    build: .
    container_name: url_shortener_app
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - .:/app
    command: flask run --host=0.0.0.0 --port=5000
    environment:
      FLASK_ENV: development
      FLASK_DEBUG: 1
    restart: unless-stopped
